{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <h1 class="subtitle">Welcome {{ request.user.agent.name }}</h1>
    <div class="columns is-8">
        <!-- Logo -->
        {% include 'snippets/side_panel.html' %}
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        Profile
                    </div>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h1 class="subtitle is-5">About</h1>
                        {{ request.user.agent.about|linebreaks }}
                        
                        <h6 class="subtitle is-6">Email</h6>
                        <p><a href="mailto:">{{ request.user.email }}</a></p>

                        <h6 class="subtitle is-6">Name</h6>
                        <p>{{ request.user.agent.name }}</p>

                        <h6 class="subtitle is-6">Phonenumber</h6>
                        <p>{{ request.user.agent.phonenumber }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}