{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock title %}

{% block navbar_brand %}
{% endblock navbar_brand %}

{% block tabs %}
    {% include 'snippets/agent_tabs.html' %}
{% endblock tabs %}

{% block navbar-brand %}
    <a class="navbar-item" href="" style="font-family: 'Alfa Slab One', cursive; font-size: 32px">
        Dashboard
    </a>
{% endblock navbar-brand %}

{% block content %}
    <div class="columns">
        {% include 'snippets/side_panel.html' %}
    </div>
{% endblock content %}s