{% extends 'base.html' %}

{% load bulma_tags %}

{% block title %}Update {{ object.title }}{% endblock title %}

{% block navbar_brand %}
{% endblock navbar_brand %}

{% include 'snippets/navbrand_brand.html' %}

{% block tabs %}
{% endblock tabs %}

{% block content %}
    {% include 'snippets/verification_message.html' %}

    {% include 'snippets/agent_tabs.html' %}
    
    <div class="columns">
        {% include 'snippets/side_panel.html' %}

        <div class="column">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">Update {{ object.title }}</div>
                </div>
                <div class="card-content">
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form|bulma }}
                            <input type="submit" class="button is-primary is-outlined" value="Update">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}