<div class="tabs is-toggle is-fullwidth">
    <ul>
        <li>
            <a href="">
                <span class="icon"></span>
                <span>Documents</span>
            </a>
        </li>
        <li>
            <a href="{% url 'account:house_list' %}">
                <span class="icon"></span>
                <span>Properties</span>
            </a>
        </li>
        <li>
            <a href="{% url 'account:apartmentunit_list' %}">
                <span class="icon"></span>
                <span>Apartment units</span>
            </a>
        </li>
    </ul>
</div>