<footer class="footer">
    <div class="container">
        <div class="content">
            <div class="columns">
                <div class="column is-4">
                    <h1 class="subtitle is-6">Jobs</h1>
                    <p><a href="">Web Manager</a></p>
                </div>
                <div class="column is-4">
                    <h1 class="subtitle is-6">Property agents</h1>
                    <p><a href="">Login</a></p>
                    <p><a href="">Register</a></p>
                    <p><a href="">Our agents</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>