<!-- Side panel -->
<div class="column is-3">
    <!-- User Name -->
    <div class="card">
        <div class="card-image">
            <figure class="image">
                <img src="{{ request.user.agent.logo.url }}" alt="">
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <h1 class="subtitle is-5">{{ request.user.agent.name }}</h1>
                <small>joined on {{ request.user.date_joined }}</small>
            </div>
        </div>
    </div>
    <br>
    <nav class="panel">
        <p class="panel-heading">Quick Actions</p>
        <div class="panel-block">
            <a href="">Update profile</a>
        </div>
        <div class="panel-block">
            <a href="{% url 'account:create_house' %}">New house</a>
        </div>
        <div class="panel-block">
            <a href="{% url 'account:create_unit' %}">New unit</a>
        </div>
        <div class="panel-block">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>
</div>