<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/materia/bulmaswatch.min.css">

    <!-- Fontawesome CDN -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=VT323|Share+Tech+Mono" rel="stylesheet">

    <title>{% block title %}{% endblock title %}</title>
</head>
<body style="font-family: 'Share Tech Mono', monospace;">
    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">

                {% block navbar_brand %}
                    {% include 'snippets/navbar_brand.html' %}
                {% endblock navbar_brand %}
            
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            
            <div class="navbar-menu">
                <div class="navbar-end">
                    <!-- Links based on authentication or not -->
                    {% if not request.user.is_authenticated %}
                        <a href="{% url 'login' %}" class="navbar-item">Login</a>
                        <a href="{% url 'register' %}" class="navbar-item">Register</a>
                    {% else %}
                        <a href="" class="navbar-item">
                            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                        </a>
                        <a href="{% url 'home' %}" class="navbar-item">
                            <span class="icon"><i class="fas fa-home"></i></span>
                        </a>
                        <a href="{% url 'logout' %}" class="navbar-item">
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">

            <!-- MESSAGES -->
            {% if messages %}
                {% for message in messages  %}
                <div class="notification is-success has-text-white">
                    {{ message }}
                </div>    
                {% endfor %}
            {% endif %}

            <!-- Navigation tabs -->
            {% block tabs %}
                {% include 'snippets/tabs.html' %}
            {% endblock tabs %}
            
            <!-- Main Content  -->
            {% block content %}{% endblock content %}
        
        </div>
    </section>

    {% block footer %}
      {% include 'snippets/footer.html' %}
    {% endblock footer %}
</body>
</html>